<!DOCTYPE html>
<html lang="en" xmlns:ng="http://angularjs.org" ng-app="app">

<head>
    <meta charset="utf-8">
    <title>WRPM Webpack Starter Project</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script>
        window.SETTINGS = <%- JSON.stringify(settings) %>
    </script>
</head>

<body>

    <div id="app"></div>

    <!-- main files -->
    <script src="./assets/app.js"></script>
</body>

</html>